.start{
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    margin-top: 3rem;
    width: 40%;
    max-width: 20rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 7px 15px 3px rgba(0,0,0,.15);
}

.groupbutton button{
    background: transparent;
    border: none;
    box-shadow: 0 7px 15px 3px rgba(0,0,0,.15);
    border-radius: 1rem;
    max-width: 3rem;
    max-height: 3rem;
    width: 30%;
    height: 10%;
}